<!DOCTYPE html>
<html>
	<head>
        <title>Select</title>
    </head>
    <body>
    <link rel='stylesheet' href='bootstrap.min.css'/>
        <div class="container">
           <header class="text-center text-white">
                <h1 class = 'header'>
                  Sales Prediction App
                </h1>
               <h3>
                   <ul>Year 1: 300</ul>
                   <ul>Year 2: 500</ul>
                   <ul>Year 3: 600</ul>
                   <ul>Year 4: 550</ul>
                   <ul>Year 5: 530</ul>
               </h3>
                <form method="POST" class='form'>
                    Select number of years to be predicted.
                    <input name="years" type="number">
                    <input type="submit">
                </form>
           </header>
        </div>
    </body>
</html>